fedoralap.tail055b0e.ts.net {
    tls /certs/fedoralap.tail055b0e.ts.net.crt /certs/fedoralap.tail055b0e.ts.net.key
    root * /var/www/html/current/www

    # The 'route' block forces Caddy to prioritize the rewrite
    route {
        rewrite /ntfy /ntfy.html
        file_server
    }
}

fedoralap.tail055b0e.ts.net:8080 {
    # tls /certs/fedoralap.tail055b0e.ts.net.crt /certs/fedoralap.tail055b0e.ts.net.key
    reverse_proxy ntfy:80
}